.movie-list-container {
  display: flex;
  flex-flow: wrap;
}
.movie-title-bar {
  height: 28px;
  background-color: beige;
  width: 128px;
  padding-top: 2px;
}
.movie-title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 12px;
}
.movie-art {
  width: 128px;
  height: 176px;
}
.movie-container {
  padding: 8px 25px;
}
.favorite {
  float: right;
  color: green;
  font-size: 10px;
  margin: 2px 2px 0px 5px;
  width: 16px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  font-size: 12px;
}

.pagination a {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

.paginate-container {
  max-width: 700px;
  min-width: 500px;
}