* {
  box-sizing: border-box;
}

body {
  background-color: #31087b;
}

header {
  background-color: #100720;
  padding: 8px 3px;
}

.header-title {
  color: #ffc23c;
  line-height: 56px;
  width: 890px;
  padding: 12px 0px 5px 15px;
  font-size: 64px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 10px red;
  border: 5px dotted silver;
}

a:link, a:visited {
  color: black;
}

.nav {
  position: relative;
  display: flex;
  justify-content: left;
  background-color:#100720;
}

.nav-button {
  color: inherit;
  position: relative;
  display: inline-block;
  font-family: monospace;
  font-size: 24px;
  text-shadow: inherit;
  background-color: inherit;
  text-decoration: none;
  padding: 6px 12px;
  border: 4px dashed #100720;
}

.movie-list-container {
  display: flex;
  flex-flow: wrap;
  width: 890px;
}

.main h3 {
  color: pink;
}

.movie-title-bar {
  height: 28px;
  background-color: beige;
  width: 128px;
  padding-top: 2px;
}
.movie-title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 12px;
}
.movie-art {
  width: 128px;
  height: 176px;
}
.movie-container {
  padding: 8px 25px;
}
.favorite {
  float: right;
  color: green;
  font-size: 10px;
  margin: 2px 2px 0px 5px;
  width: 16px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  font-size: 12px;
}

.pagination a {
  padding: 4px;
  border-radius: 5px;
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  cursor:default;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.paginate-container {
  max-width: 700px;
  min-width: 500px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
.modal-content {
  width: 500px;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 10px;
  padding: 15px 10px;
  overflow-y: scroll;
  max-height: 400px;
}
.modal-title {
  text-align: center;
  font-size: 24px;
  padding: 7px;
  background-color: pink;
  border-radius: 4px;
}
.modal-item {
  padding: 10px;
}

.username {
  font-style: italic;
  font-size: 12px;
  padding: 8px 0px 5px 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}