.movie-list-container {
  display: flex;
  flex-flow: wrap;
}
.movie-title-bar {
  height: 28px;
  background-color: beige;
  width: 128px;
  padding-top: 2px;
}
.movie-title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 12px;
}
.movie-art {
  width: 128px;
  height: 176px;
}
.movie-container {
  padding: 8px 25px;
}
.favorite {
  float: right;
  color: green;
  font-size: 10px;
  margin: 2px 2px 0px 5px;
  width: 16px;
}